##
## Velocity Template for DisplayUsernamePasswordPage view-state
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## rpUIContext - the context with SP UI information from the metadata
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.idp.profile.context.RelyingPartyContext'))
##
<!DOCTYPE html>
<html>
   <head>
      <title>#springMessageText("idp.title", "Web Login Service")</title>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
      <link rel="stylesheet" type="text/css" href="$request.getContextPath()#springMessageText("idp.css", "/css/placeholder.css")">
   </head>
   <body>
      <main class="main">
         <header>
            <img class="main-logo" src="$request.getContextPath()#springMessageText("idp.logo", "/images/placeholder-logo.png")" alt="#springMessageText("idp.logo.alt-text", "logo")" />
         </header>
         <section>
            #parse("login-error.vm")
            #set ($serviceName = $rpUIContext.serviceName)
            #if ($serviceName && !$rpContext.getRelyingPartyId().contains($serviceName))
            <legend>
               #springMessageText("idp.login.device.returnto", "You may return to ") $encoder.encodeForHTML($serviceName)
            </legend>
            #end
            #springMessageText("idp.login.device.returnto.explanation", "You may close the browser and return to service if request was approved")
            #set ($logo = $rpUIContext.getLogo())
            #if ($logo)
            <img src= "$encoder.encodeForHTMLAttribute($logo)"
               alt="$encoder.encodeForHTMLAttribute($serviceName)">
            #end
            #set ($desc = $rpUIContext.getServiceDescription())
            #if ($desc)
            $encoder.encodeForHTML($desc)
            #end
         </section>
      </main>
      <footer class="footer">
         <div class="cc">
            <p>#springMessageText("idp.footer", "Insert your footer text here.")</p>
         </div>
      </footer>
   </body>
</html>
